body{
   background-color:white;
   margin-top:32%;
   color: #008CBA;
}
button{
   background-color: #add8e6; 
   color:  #008CBA; 
   border: 2px solid #008CBA;
   cursor: pointer;
   padding: 16px 32px;
   text-align: center;
   text-decoration: none;
   display: inline-block;
   font-size: 16px;
   margin: 4px 2px;
   transition-duration: 0.4s;
   border-radius: 35%;
}
button:hover {
  background-color: #008CBA;
  color: white;
  border-radius: 50%;
}
